---
layout: layout.liquid
---

<p>
    These represent a selection of those ballads that I have found most
    compelling, based on the power of the language, suitability for
    memorization, and interest of subject. </p>
<p>They are also all complete
    ballads. Sadly, many of the manuscripts preserving the ballads of the
    Middle English period are damaged or have missing sheets, and so only a
    subset of the extant ballads are complete.
</p>
