<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Middle English Ballads</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</head>