<nav class="index">
    <ul style="padding-right: 1em;">
        <li><a class="nav_link" href="/">Ballads</a></li>
        <ul>
            <li>Robin Hood</li>
            <ul>
                <li><a class="nav_link" href="/ballads/robyn_and_gandelyn">Robyn and Gandelyn</a></li>
                <li>Robin and Guy of Gisborne</li>
                <li>The Gest of Robin Hode</li>
                <li>The Pedlar Bold</li>
            </ul>
            <li>Sir Gawaine</li>
            <ul>
                <li>The Carle of Carlisle</li>
                <li>The Greene Knight</li>
            </ul>
            <li>Other</li>
            <ul>
                <li>The Gosport Tragedy ("The Cruel Ship's Carpenter")</li>
                <li>True Thomas</li>
                <li>Old Eben Flood</li>
                <li>The Ballad of the Harp Weaver</li>
                <li>In April, when the yellow winn...</li>
            </ul>
            <li>Original</li>
            <ul>
                <li>The Bucksport Tragedy</li>
            </ul>
        </ul>
        <li>Papers</li>
        <ul>
            <li>On the origin of "Robin and Guy of Gisborne".</li>
            <li>On the provenance of the first and second vs third fitte in "The Gest of Robin Hode".</li>
            <li>"God that died on a tree" - Heathen undertones in the Robin Hood Ballads</li>
        </ul>
    </ul>
</nav>