---
layout: layout.liquid
---
        <a href="https://d.lib.rochester.edu/teams/text/robyn-and-gandelyn" style="margin-bottom: 1em;">Robbins Library Text & Discussion</a>
        <p style="font-size: .8em;">K&O = Knight & Ohglren, see link above.</p>
        <div class="break"></div>
        {% balladLine "Robyn lyth in grene wode bowndyn (repeat?)", "boundyn = bound, wrapped, as in a wrapped corpse" %}
        <div class="break"></div>
        {% balladLine "I herde a carpyng of a clerk,", "carpyng = singing, clerk = learned person/priest" %}
        {% balladLine "Al at yone wodes end,", ""%}
        {% balladLine "Of gode Robyn and Gandelyn;", ""%}
        {% balladLine "Was ther non other gynge.", "gynge = gang" %}
        <div class="break"></div>
        {% balladLine "Stronge thevys wer tho chyldrin non," "thevys = thieves" %}
        {% balladLine "But bowmen gode and hende;", "hende = noble, knightly, courteous/beautiful" %}
        {% balladLine "He wentyn to wode to getyn hem fleych,", "He/hem = they/them, fleych = flesh" %}
        {% balladLine "If God wold it him sende.", "him = them. (Such pronouns are used throughout.)" %}
        <div class="break"></div>
        {% balladLine "All day wentyn tho chylderin too,", "*See note 1." %}
        {% balladLine "And fleych fowndyn he non,", "" %}
        {% balladLine "Til it were ageyn evyn;", "evyn = evening" %}
        {% balladLine "The chylderin wolde gon hom.", "" %}
        <div class="break"></div>
        {% balladLine "Half an honderid of fat falyf der", "" %}
        {% balladLine "He comyn anon", "" %}
        {% balladLine "And alle he wern fayr and fat inow", "inow = enough" %}
        {% balladLine "But markyd was there non, """ %}
        {% balladLine "'Be dere God, seyde gode Robyn", "" %}
        {% balladLine "Here of we shul have on.'", "on = one" %}
        <div class="break"></div>
        {% balladLine "Robyn went his joly bowe,", "" %}
        {% balladLine "There in he set a flo", "flo = arrow" %}
        {% balladLine "The fattest der of alle", "" %}
        {% balladLine "The herte he clef a to", "clef a to = cleaved in two" %}
        <div class="break"></div>
        {% balladLine "He hadde not the der iflawe", "iflawe = flayed, i.e. skinned" %}
        {% balladLine "Ne half out of the hyde", "" %}
        {% balladLine "There cam a shrewde arwe out of the west", "shrewde = old sense of shrewd, 'evil'" %}
        {% balladLine "That felde Robertes pryde.", "Roberte = (apparently) formal name for Robin" %}
        <div class="break"></div>
        {% balladLine "Gandelyn lokyd hym est and west", "" %}
        {% balladLine "Be every syde", "" %}
        {% balladLine "'Hoo hat myn master slayin?", "" %}
        {% balladLine "Ho hat don this dede?'", "" %}
        {% balladLine "Shal I never out of grene wode go", "" %}
        {% balladLine "Ti I se sydis blede", "sydis = sides, i.e. a person's side." %}
        <div class="break"></div>
        {% balladLine "Gandelyn lokyd him est and lokyd west,", "" %}
        {% balladLine "And sowt under the sunne;", "sowt = saw it? or, K&O say 'gazed'" %}
        {% balladLine "He saw a lytil boy", "See note 1" %}
        {% balladLine "He clepyn Wrennok of Donne", "He clepyn = they called" %}
        <div class="break"></div>
        {% balladLine "A good bowe in his hond", "" %}
        {% balladLine "A brod arwe there ine", "" %}
        {% balladLine "And fowre and twenty good arwes", "" %}
        {% balladLine "Trusyd in a thrumme", " = trussed/tied up in a bundle" %}
        {% balladLine "'Be war the, war the, Gandelyn", "" %}
        {% balladLine "Her of thu shalt han summe.'", "" %}
        <div class="break"></div>
        {% balladLine "'Be war the, war the, Gandelyn,", "" %}
        {% balladLine "Hir of thu gyst plente'", "" %}
        {% balladLine "'Ever on for an other, seyd Gandelyn", "" %}
        {% balladLine "Mysaunter have he shal fle.'", "mysaunter = misadventure, from French pronunciation" %}


        <div style="margin-top: 2em; border-top: solid 1px black">
                <p><strong>Note 1:</strong> I have yet to understand the use of the word "children", "child", and "lytil boy" throughout the ballad to describe what appear to be grown men. Was it tongue-in-cheek, to excuse illegal behavior (as they weren't grown men, who might be subject to a more severe punishment)? As "children" is a fuzzily defined term, was it, at this particular place/time, used simply to refer to people much older than we're used to, perhaps anyone not yet married, or with children? Or just not elderly? I would welcome enlightenment on the issue from someone more educated in the area.</p>
        </div>
        <div>
                <p>Essay. (Move to separate tab, nav item.)</p>
                <p>Knight and Ohlgren state that "There must be serious doubt to what exten, as Child says, 'the Robin in this ballad is Robin Hode'". I disagree, and think that a close reading of this ballad and Robin and Guy of Gisborne strongly suggest a common origin, and that most likely Robin and Guy of Gisborne was based on Robyn and Gandelyn. (...)</p>
        </div>
