// $secondaryColor: #16c197;
$secondaryColor: #335433;
$secondaryColorText: #f0fffd;
$backgroundColor: white;

$breakpoint: 768px;
$fullWidth: 100vw;

$lineHeight: 42px;

body {
  margin: 0px;
}

p {
  padding-left: 1em;
  padding-right: 2em;
}

ul {
  padding-inline-start: 25px;
}

.header {
  height: 10vh;
  width: $fullWidth;
  border-bottom: solid 2px $secondaryColor;
  @media (max-width: $breakpoint) {
    height: 10vh;
    border-bottom: none;
  }
}

.content-container {
  display: flex;
  width: $fullWidth;
  @media (max-width: $breakpoint) {
    display: block;
  }
}

.index {
  flex: 1;
  height: 100%;
  background-color: $secondaryColor;
  color: $secondaryColorText;
  padding: 0.3em 0em;
  @media (min-width: $breakpoint) {
    min-height: 100vh;
  }
}

.content {
  flex: 2;
  height: 100vh;
  background-color: $backgroundColor;
  padding: 1em;
  overflow-y: scroll;
}

.nav_link {
  color: inherit;
  text-decoration: none;
}

/* Ballad Line Styles*/
.balladLine {
  flex: 1;
  margin: 0;
  padding: 0;
  height: $lineHeight;
}

.break {
  height: $lineHeight;
}
